@{
    ViewData["Title"] = "Home Page";
}

@model List<Dish>

<div class="text-center">
    <h1 class="display-4">Yum! Check out our roster of dishes!</h1>

    <hr />
    <table>
        <thead>
            <th>Name</th>
            <th>Chef</th>
            <th>Tastiness</th>
            <th>Calories</th>
        </thead>
        <tbody>

            @foreach (Dish item in @Model)
            {
                <tr>
                    <td>@item.Name</td>
                    <td>@item.Creator.FirstName @item.Creator.LastName</td>
                    <td>@item.Tastiness</td>
                    <td>@item.Calories</td>
                </tr>

            }
        </tbody>
    </table>
</div>
