@{
    ViewData["Title"] = "Privacy Policy";
}

@model Post


<div class="text-center">
    @* post a message *@
    @foreach (var item in @Model.AllMessages)
    {
        <table>
            <thead>
                <tr>
                    <th>@item.Creator.FirstName @item.Creator.LastName - @item.CreatedAt.ToString("MMMM d, yyyy")</th>

                </tr>
            </thead>
            <tbody>
                <tr>
                    <td>@item.MessageText</td>
                    @if (Context.Session.GetInt32("UserId") == item.UserId)
                    {
                        <td>

                            <form asp-action="Destroy" asp-controller="Message" asp-route-id="@item.MessageId" method="post">
                                <input type="submit" class="btn" value="Delete" />
                            </form>

                        </td>
                    }
                </tr>
                <tr>
                @{ViewBag.MessageId = item.MessageId;}
                    <table>
                        @foreach (var reply in @Model.AllComments)
                        {
                            @if(reply.Message.MessageId ==item.MessageId){
                        
                            <tr>
                                <th>@reply.Creator.FirstName @reply.Creator.LastName - @reply.CreatedAt.ToString("MMMM d, yyyy")</th>

                            </tr>

                            <tr>
                                <td>@reply.CommentText</td>
                                @if (Context.Session.GetInt32("UserId") == reply.UserId)
                                {
                                    <td>

                                        <form asp-action="Remove" asp-controller="Comment" asp-route-id="@reply.CommentId" method="post">
                                            <input type="submit" class="btn" value="Delete" />
                                        </form>

                                    </td>
                                }
                            </tr>
}
                        }
                        <tr>
                            <td>
                    @await Html.PartialAsync("_NewReply", Model.Comment)

                            </td>
                        
                        </tr>
                    </table>
                </tr>


            </tbody>
        </table>
    }

@await Html.PartialAsync("_New", Model.Message)

</div>